@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* boiler plate code from scratch */
:root {
    --white: #FEFEFE;
    min-width: 30em;
}

.notification-up {
    display: flex;
    position: fixed;
    min-width: 36em;
    min-height: 6em;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
.hidden {
    display: none;
}
  
.close {
    position: absolute;
    width: 1.35rem;
    height: 1.35rem;
    text-align: center;
    right: 1rem;
    cursor: pointer;
    border-radius: 100%;
}

.close:after {
    position: relative;
    font-family: 'Varela Round', san-serif;
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 1.8rem;
    content: "+";
    transform: rotate(-45deg);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #595959;
    text-indent: 1px;
}

.close:hover:after {
    background: var(--clr);
    color: #fff;
}

#notification-message {
    margin: auto;
}

#notification.show {
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 3.0 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#notification.hide {
  -webkit-animation: fadeout 0.5s 3.0s;
  animation: fadeout 0.5s 3.0s;
}
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }