body {
    display: flex;
    margin: auto;
    height: 100vh
}

.disabled {
    display: none;
}

.landing-page-container {
    margin: auto;
}

.space {
    display: flex;
    justify-content: space-between;
}